<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}redefin.io{% endblock %}</title>
    <link href="{{ absolute_url(asset('templates/default/css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('templates/default/styles.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('templates/default/' ~ theme.getCssSource())) }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div id="main-wrap">
    <div data-zone="top_header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" data-zone="static">
                    <div id="top" data-zone="top_header">
                        <div class="big-title pull-left col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            {% block top_header %}{% endblock %}
                        </div>
                        <div class="contacts pull-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% block top_contacts %}{% endblock %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" data-zone="main_left_info"
                 data-zone-block-types='[{"name": "Employment History", "type": 4}, {"name": "Education", "type": 6}, {"name": "Certificates", "type": 8}, {"name": "Text Block", "type": 1}]'>
                {% block main_left_info %}{% endblock %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-zone="main_right_info"
                 data-zone-block-types='[{"name": "Skills", "type": 2}, {"name": "Text Block", "type": 1}]'>
                {% block main_right_info %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>