<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Redefinio{% endblock %}</title>
    <link href="{{ absolute_url(asset('templates/standart/css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('templates/standart/css/main.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('templates/standart/' ~ theme.getCssSource())) }}" rel="stylesheet">
</head>

<body>
<div class="container" id="main-wrap">
    <div class="wrapper">
        <div class="standart-sidebar">
            <div data-zone="standart_personal_info">
                {% block standart_personal_info %}{% endblock %}
            </div>
            <div data-zone="standart_left_info" data-zone-block-types='[{"name": "Skills", "type": 2}, {"name": "Text Block", "type": 1}]'>
                {% block standart_left_info %}{% endblock %}
            </div>
            <div data-zone="standart_contacts_slot">
                {% block standart_contacts_slot %}{% endblock %}
            </div>
        </div>
        <div class="content" data-zone="standart_right_slot" data-zone-block-types='[{"name": "Employment History", "type": 4}, {"name": "Education", "type": 6}, {"name": "Certificates", "type": 8}, {"name": "Text Block", "type": 1}]'>
            {% block standart_right_slot %}{% endblock %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementsByClassName('standart-sidebar')[0].style.height = document.body.clientHeight + "px"
    });
</script>
</body>
</html>