<html>
	<head>
		<title>Red October Template</title>
	</head>
	<body>
		<h1>Red October Template</h1>
		{% block top_info %}{% endblock %}
		<hr/>
		{% block main_info %}{% endblock %}
	</body>
</html>