body {
  padding-top: 110px !important;
}

.resume-container {
  padding: 38px;

  &.resume-editing {
    margin-right: 280px;

    #loader {
      right: 280px;
    }

    .container {
      max-width: 1170px;
      width: 100% !important;
    }

    .editable-block {
      margin-bottom: 10px;
    }
  }

  &:not(.resume-editing) {
    .editable-block {
      border-color: transparent !important;
    }
  }
}

.resume {
  background: white;
  -webkit-box-shadow: 0 0 10px #e5e9eb;
  -moz-box-shadow: 0 0 50px #e5e9eb;
  box-shadow: 0 0 50px #e5e9eb;
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-size: 18px;
  padding: 0 !important;
  margin: 0 0 24px !important;
}

.item p {
  padding: 0 0 0 39px;
  margin: 20px 0 35px 0;
}