/**
 * Base application styles.
 */

body {
  background-color: @bgColor;
  font-family: @baseFont;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//TODO: Remove this class
.clear {
  clear:both;
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

button {
  &:focus {
      outline: none;
  }
}

[contenteditable] {
  transition: padding 0.25s ease-in-out;
}

[contenteditable=false] {
  border: 2px dashed transparent;
  word-break: break-all;
}

[contenteditable=true] {
  border: 2px dashed transparent;
  border-radius: 3px;
  border-color: rgba(181, 191, 199, 0.3);
  padding: 4px;
  
  &:hover,
  &:focus {
    border-color: #b5bfc7;
  }

  &:focus {
    outline: none;
  }
}

.container-fluid {
  overflow: hidden;
}

.clear-left-padding {
  padding-left: 0;
}

.clear-right-padding {
  padding-right: 0;
}

#loader {
  background: @bgColor;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transition: bottom 0s 0.25s, opacity 0.25s ease-in-out;

  &.active {
    bottom: 0;
    opacity: 1;
  }

  .signal {
    width: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    background: url("@{images}/loader.gif") no-repeat center;
    background-size: 40px 40px;
  }
}
