.standart-sidebar {
    background-color: #00eeff;
}

.editable-block.is-editing {
    border-color: #00eeff;
}

.editable-block .block-actions .save {
    background-color: #00eeff;
}

.standart-sidebar .name {
    color: #000;
}

.standart-sidebar .group.content,
.standart-sidebar .statusquo,
.blocks.indicator .title {
    color: rgba(0, 0, 0, 0.75);
}