.standart-sidebar {
    background-color: #00c897;
}

.editable-block.is-editing {
    border-color: #00c897;
}

.editable-block .block-actions .save {
    background-color: #00c897;
}

.standart-sidebar .group.content,
.standart-sidebar .statusquo,
.blocks.indicator .title {
    color: rgba(255, 255, 255, 0.75)
}