{% extends 'base.html.twig' %}

{% block body %}
<div id="fixedtop">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Résumés</a></li>
              <li><a href="templates.html">Templates</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="./">Support</a></li>
              <li><a href="./">Upgrade</a></li>
              <li class="profile"><a href="../navbar-static-top/">Erikas Mališauskas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6"><h1>Résumés</h1></div>
                <div class="col-xs-6">
                    <a href="create.html" class="btn btn-big btn-green pull-right btn-create">Create a CV</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-first resumes">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="block">
                <div class="image">
                    <img src="{{ asset('img/temp/1.jpg') }}" alt="" />
                    <div class="bottom"></div>
                    <div class="hover">
                        <a href="resumes-preview.html" class="btn btn-preview">Preview</a>
                        <div class="pull-right">
                            <a href="resumes-preview.html" class="btn btn-edit">Edit</a>
                            <a href="resumes-preview.html" class="btn btn-delete ml10"></a>
                        </div>
                        <a href="#" class="btn btn-red btn-pdf">PDF</a>
                        <input type="text" value="http://redefin.io/g359d" disabled/>
                    </div>
                </div>
                <div class="inner">
                    <h4>Personal CV</h4>
                    <p>Feb 18, 2015</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="block">
                <div class="image">
                    <img src="{{ asset('img/temp/1.jpg') }}" alt="" />
                    <div class="bottom"></div>
                    <div class="hover">
                        <a href="resumes-preview.html" class="btn btn-preview">Preview</a>
                        <div class="pull-right">
                            <a href="resumes-preview.html" class="btn btn-edit">Edit</a>
                            <a href="resumes-preview.html" class="btn btn-delete ml10"></a>
                        </div>
                        <a href="#" class="btn btn-red btn-pdf">PDF</a>
                        <input type="text" value="http://redefin.io/g359d" disabled/>
                    </div>
                </div>
                <div class="inner">
                    <h4>Personal CV</h4>
                    <p>Feb 18, 2015</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="block">
                <div class="image">
                    <img src="{{ asset('img/temp/1.jpg') }}" alt="" />
                    <div class="bottom"></div>
                    <div class="hover">
                        <a href="resumes-preview.html" class="btn btn-preview">Preview</a>
                        <div class="pull-right">
                            <a href="resumes-preview.html" class="btn btn-edit">Edit</a>
                            <a href="resumes-preview.html" class="btn btn-delete ml10"></a>
                        </div>
                        <a href="#" class="btn btn-red btn-pdf">PDF</a>
                        <input type="text" value="http://redefin.io/g359d" disabled/>
                    </div>
                </div>
                <div class="inner">
                    <h4>Personal CV</h4>
                    <p>Feb 18, 2015</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet/less" type="text/css" href="{{ asset('css/resumes/index.less') }}">
{% endblock %}
