{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="navbar">
        <h1 class="navbar-title">Editing my résumé</h1>
        <div class="navbar-actions">
            <a href="{{ path('cv_show', { 'id': cV.id }) }}" class="btn navbar-cancel">Cancel</a>
            <a href="#" class="btn navbar-save">Save</a>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
