{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="navbar">
        <h1 class="navbar-title">My résumé</h1>
        
        <div class="edit-url-group">
            <input class="edit-url" id="cv-url" value="{{ absolute_url(path('default_public_link', {'identifier': cV.url})) }}" readonly>
            <button class="btn edit-url-btn">Copy</button>
            <span class="label label-success text-copied">Copied!
                <img src="/img/check.png" alt="Icon">
            </span>
        </div>
       
        <div class="navbar-actions">
            <a href="{{ path('cv_edit') }}" class="btn navbar-edit">Edit</a>
            <a href="{{ path('cv_pdf') }}" class="btn navbar-download">Download PDF</a>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div id="template" class="resume-container">
		<div id="loader" class="active">
			<div class="signal"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
		<script type="text/javascript">
            var apiUrl = location.protocol + "//" + location.host + "/app_dev.php/api";
		</script>
  <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% endblock %}