{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="navbar">
        <h1 class="navbar-title">My résumé</h1>
        <div class="navbar-actions">
            <a href="{{ path('cv_edit', { 'id': cV.id }) }}" class="btn navbar-edit">Edit</a>
            <a href="#" class="btn navbar-download">Download PDF</a>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
