{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="navbar">
        <h1 class="navbar-title">My résumé</h1>
        <div class="navbar-actions">
            <a href="{{ path('cv_edit', { 'id': cV.id }) }}" class="btn navbar-edit">Edit</a>
            <a href="#" class="btn navbar-download">Download PDF</a>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div id="template" class="resume-container">
		<div id="loader" class="active">
			<div class="signal"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
		<script type="text/javascript">
			var templateUrl = "{{ path('cv_index') }}";
			var isEditing = false;
            var templateId = {{ cV.getTemplate().getId() }};
		</script>
  <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% endblock %}