@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css';
body {
  background: #f1f5f8;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 90px 0;
}

.wrapper {
  position: relative;
  background: #fff;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 0;
}

.standart-sidebar {
  color: #fff;
  padding: 50px 30px 30px;
  background: #e45741;
  float: left;
  max-width: 370px;
  width: 100%;
}

.standart-sidebar [data-zone] {
  margin-top: 40px;
}

.standart-sidebar [data-zone]:nth-child(1) {
  margin-top: 0px;
}

.standart-sidebar .group.content {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
}

.standart-sidebar .group.content.contacts > div {
  margin: 6px 0;
}
.standart-sidebar .group.content > div i {
  font-size: 18px;
  min-width: 18px;
  display: inline-block;
  margin-right: 5px;
}

.standart-sidebar .group.title {
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.standart-sidebar .person {
  text-align: center;
}

.standart-sidebar .photo {
  overflow: hidden;
  display: block;
  margin: 0 auto 20px auto;
  width: 180px;
  height: 180px;
  background: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}

.standart-sidebar .photo img {
  width: 100%;
  height: auto;
}

.standart-sidebar .name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.standart-sidebar .btn-file {
  display: none;
}

.is-editing .btn-file {
  display: inline-block;
}

.btn-file {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 20px;
}
.btn-file i {
  margin-right: 10px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.standart-sidebar .statusquo {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
}

.content {
  padding: 50px 30px 30px;
  overflow: hidden;
  color: #666;
  font-size: 13px;
}

.group.item {
  margin-top: 40px;
}

.group.item:first-child {
  margin-top: 0;
}

.group.title {
  font-weight: 600;
  border-bottom: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
}

.group.title:after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
}

.group.content {
  padding: 0;
}

.blocks.indicator {
  margin-top: -10px;
}

.blocks.indicator > div {
  margin-top: 10px;
}

.blocks.indicator .title {
  color: #ffcdc5;
  color: rgba(255,255,255,0.75);
  margin-bottom: 5px;
  font-weight: 600;
}

.blocks.indicator .bar {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 10px;
}

.blocks.indicator .bar .progress {
  background: white;
  width: 0;
  height: 10px;
}

.blocks.timeline > div {
  margin-top: 20px;
}

.blocks.timeline .date {
  color: #666;
}

.blocks.timeline .title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.blocks.timeline .company {
  margin-top: 3px;
  color: #000;
  font-size: 14px;
}

.blocks.timeline .description {
  margin-top: 3px;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
  .standart-sidebar {
    max-width: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .standart-sidebar {
    float: none;
    width: 100%;
    max-width: 100%;
  }
}
