body {
    padding: 0px;
    background: none;
}

.main-left {
    float: left;
    max-width: 693px;
    width: 100%;
    padding: 0 30px;
}

.container--footer {
    margin-top: 40px;
    font-size: 14px;
    background: none;
}
.muted {
    color: #8b8b8b;
}
.text-center {
    text-align: center;
}

.container--footer img {
    width: 15%;
    margin: 0 10px;
    vertical-align: middle;
}
