body {
    background: none !important;
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: content-box;
}

#main-wrap {
    min-height: 842px;
    position: relative;
}

.container {
    page-break-inside: avoid !important;
    margin: 0px !important;
}

.container--footer {
    font-size: 14px;
    background: none;
    position: absolute;
    bottom: 15px;
    right: 30px;
    text-align: right;

}
.muted {
    color: #8b8b8b;
}
.text-center {
    text-align: center;
}

.container--footer img {
    width: 120px;
    margin: 0 10px;
    vertical-align: middle;
}

.position {
    font-weight: 500;
}

[data-key="description"] {
    font-weight: 500;
}

.standart-sidebar {
    height: 100%;
}
