.img-thumbnail {
    width: 100%;
    border: none;
    padding: 0;
    .border-radius(0);
    .box-shadow(rgba(0,0,0,0.1) 0px 1px 5px);
}

.btn--choose-cv {
    width: 100%;
    background: @green;
    color: @white;
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0;

    &:hover {
        background: @green-hover;
        color: @white;
    }
    &:active {
        background: @green-active;
    }
}

.container,
.container-message {
    &--header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 0 15px 0;
        
        &-emoji-smile {
            background-image: url("@{images}/emoji-smile.png");
            width: 72px;
            height: 72px;
            margin: 15px;
        }
        &-emoji-cool {
            background-image: url("@{images}/emoji-cool.png");
            background-size: 66px 66px;
            width: 66px;
            height: 66px;
            margin: 15px;
        }
        
        &-info {
            line-height: 15px;
            
            h3 {
                font-size: 22px;
                font-weight: 700;
                color: @black;
                margin: 5px 0;
            }
            
            p {
                margin: 0;
            }
        }
    }
}

.container-message {
    margin: 30px 0 -40px 0;
    display: none;
}