.title {
    color: #a976de;
}
.contacts a {
    color: #a976de;
}

.timeline>li .icon {
    background: #a976de;
}

ul.skills li.completed {
    background: #a976de;
}

.editable-block.is-editing {
    border-color: #a976de;
}
.editable-block .block-actions .save {
    background-color: #a976de;
}